@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html {
    font-family: ui-monospace;
  }
} */


@layer base {
  @font-face {
    font-family: 'Inter-Regular';
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
    /* font-weight: 400; */
    font-display: swap;
    font-style: normal;
  }
}

body {
  @apply h-full;
}

html {
  @apply h-full;
  @apply font-mono;
  background-color: rgba(223, 228, 235, 0.5)/*"#FAFAFA"*/;
  padding: 0;
}

@layer components {
  .transition-smooth {
    @apply transition duration-300 ease-in-out;
  }

  ._filter {
    width: 100%;
    height: 100%;
  
    opacity: 1;
  
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
      42deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(255, 255, 255, 0) 95%
    );
    background: -webkit-linear-gradient(
      42deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(255, 255, 255, 0) 95%
    );
    background: linear-gradient(
      42deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(255, 255, 255, 0) 95%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
  }

  ._miniTitle {
    transition: all 0.05s;
    width: 200px;
    height: 25px;
  
    border-radius: 4px;
    /* background: white; */
  
    position: absolute;
    left: 15px;
    bottom: 28px;
  
    margin: 5px;
  
    display: none;
  }

  ._container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4px;
    row-gap: 4px;

    /* background: red; */

    justify-content: space-between;    /* horizontal alignment of grid tracks */
    align-content: flex-start; 
  
    padding: 4px;
  
    /* align-content: space-evenly; */
    align-items: center;
    /* justify-content: space-evenly; */
    justify-items: center;
  
    transition: all 0.1s;
  
    height: 412px;
    width: 452px;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  
    background: ghostwhite;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 6px;
  
    /* margin: 4px; */
  }
  
  ._container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  ._gridPost {
    transition: all 0.4s;
    
    width: 145px;
    height: 145px;
  
    background: cornflowerblue;
    border-radius: 2px;
    
    cursor: pointer;
    opacity: 1;
  }
}

#Tweets::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

.hideScroll0::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

.swal2-icon.swal2-info {
  border-color: theme('colors.prim2') !important;
  color: theme('colors.prim2') !important;
}

